<ion-view view-title="INICIO">
  <ion-content>
  	 <div class="container">
      <div class="row">
        <div class="col cent">
          <certer>
          <h2>IMPORTANCIA DEL AGUA</h2>
         <p> Bienvenidos biology app es una herramienta que ayudara para la enzeñanza y la educacion de los niños con segmentos de juegos, informacion, un ADN virtual diseñado para que los niños descubran como es la parte genetica de un ser humano.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">
          <center>
         <video autoplay controls src="../img/agua.mp4">
         </center>
        </div>
      </center>
        <div class="col col-25"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
 