<link href="css/juego.css" rel="stylesheet">

<div class="tic-tac-toe">
  <div class = "t1">
    <div class="block"></div>
  </div>
  <div class = "t2">
    <div class="block"></div>
  </div>
  <div class = "t3">
    <div class="block"></div>
  </div>
<ion-view view-title="Juego">
  <ion-content>
 <link rel=StyleSheet href="css/estilos.css" type="text/css">

<div id="jugar"></div>

<button id="start">
  ¡Comenzar el juego!
</button>
<script type="text/javascript" src="interactividad.js"></script>
</ion-content>
</ion-view>