<ion-view view-title="TABLA NUTRICIONAL">
  <ion-content>
     <!--TABLA NUTRICIONAL-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="cent">TABLA NUTRICIONAL</h2>
         
          <br>
          <div class="nutrifacts-html">
<section>
  <center>
  <!--for demo wrap-->
  <h1>Tabla Nutricional</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
       <link rel=StyleSheet href="estilo.css" type="text/css">

      <thead>
        <tr>
          <th></th>
          <th>Desayuno</th>
          <th>Merienda</th>
          <th>Almuerzo</th>
          <th>Cena</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>Vitaminas</td>
          <td>225 mcg </td>
          <td>225 mcg</td>
          <td>225 mcg</td>
          <td>225 mcg</td>
        </tr>
        <tr>
          <td>Lipidos</td>
          <td>19 g</td>
          <td>19 g</td>
          <td>19 g</td>
          <td>19 g</td>
        </tr>
        <tr>
          <td>Minerales</td>
          <td>37.5 mcg</td>
          <td>37.5 mcg</td>
          <td>37.5 mcg</td>
          <td>37.5 mcg</td>
        </tr>
        
        <tr>
      <tr>
          <td>Calcio</td>
          <td>250 mg</td>
          <td>250 mg</td>
          <td>250 mg</td>
          <td>250 mg</td>
        </tr>
        <tr>
          <td>potacio</td>
          <td>877.5 mg</td>
          <td>877.5 mg</td>
          <td>877.5 mg</td>
          <td>877.5 mg</td>
        </tr>
         <tr>
          <td>sodio</td>
          <td>500 mg</td>
          <td>500 mg</td>
          <td>500 mg</td>
          <td>500 mg</td>
        </tr>  
        
        
      </tbody>
    </table>
  </div>
</section>
</center
<br><br><br><br><br>
<center>
        <left><img height="500" width="500" src="img/f.jpg"></left>
        <center><img height="500" width="500" src="img/g.jpg"></center>
        <right><img height="500" width="500" src="img/p.jpg"></right>

  </center>
  
  </ion-content>
</ion-view>
